#canvas {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    border: 1px solid black;
    background-color: aliceblue;
    }

#statusIndicator {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    }
      

body{
    overflow: hidden;
}